---
http_interactions:
- request:
    method: post
    uri: https://partner.shopeemobile.com/api/v1/orders/detail
    body:
      encoding: UTF-8
      string: '{"ordersn_list":["11111111111111"],"shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1639528752}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 3262ad9b40b62fb13199c84730a754f026a7b65cb5bdc4e1816625c4f77fce4c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - 77d2d03366e1e06ec39ff00c8e42d689
    body:
      encoding: UTF-8
      string: '{"request_id":"77d2d03366e1e06ec39ff00c8e42d689","orders":[],"errors":["11111111111111"]}'
  recorded_at: Wed, 15 Dec 2021 00:39:12 GMT
recorded_with: VCR 5.1.0
