---
http_interactions:
- request:
    method: post
    uri: https://partner.shopeemobile.com/api/v1/orders/detail
    body:
      encoding: UTF-8
      string: '{"ordersn_list":["11111111111111"],"shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1663158795}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 93b14261ec367ec579b747144e1083f3bcf89b507d4e88c02dc891aa9c123ea7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - c4f86e20fed2467786f1fcee44e0b5e1
    body:
      encoding: UTF-8
      string: '{"request_id":"c4f86e20fed2467786f1fcee44e0b5e1","orders":[],"errors":["11111111111111"]}'
  recorded_at: Wed, 14 Sep 2022 12:33:16 GMT
recorded_with: VCR 5.1.0
