---
http_interactions:
- request:
    method: post
    uri: https://partner.uat.shopeemobile.com/api/v1/orders/detail
    body:
      encoding: UTF-8
      string: '{"ordersn_list":["11111111111111"],"shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1610846124}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 1422d8ceab46ba0edaf2953eebab320ba3fa7f3c03b98946811a98f62608483d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - 86935a1b37d77b35dc876a5c13d1f316
      Req-Id:
      - 86935a1b37d77b35dc876a5c13d1f316
    body:
      encoding: ASCII-8BIT
      string: '{"errors": ["11111111111111"], "orders": [], "request_id": "86935a1b37d77b35dc876a5c13d1f316"}'
  recorded_at: Sun, 17 Jan 2021 01:15:24 GMT
recorded_with: VCR 5.1.0
