---
http_interactions:
- request:
    method: post
    uri: https://partner.uat.shopeemobile.com/api/v1/orders/detail
    body:
      encoding: UTF-8
      string: '{"ordersn_list":["123"],"shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1610845624}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 5c26a68b21ab169f57eea6b183cb684ccd438e3d252a1c719047c558ddba82df
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - 5885985c71b3af7d1b6d0231992066be
      Req-Id:
      - 5885985c71b3af7d1b6d0231992066be
    body:
      encoding: ASCII-8BIT
      string: '{"errors": [], "orders": [{"estimated_shipping_fee": "25.42", "order_flag":
        "fulfilled_by_local_seller", "payment_method": "Ebanx Credit Card Installment
        2x installment plan", "dropshipper_phone": "", "message_to_seller": "", "shipping_carrier":
        "Padr\u00e3o", "currency": "BRL", "create_time": 1610837293, "pay_time": 1610837344,
        "days_to_ship": 3, "credit_card_number": "", "note": "", "is_split_up": false,
        "ship_by_date": 1611182944, "escrow_tax": "0.00", "tracking_no": "", "order_status":
        "READY_TO_SHIP", "note_update_time": 0, "fm_tn": "", "update_time": 1610837344,
        "buyer_cpf_id": "123", "cancel_reason": "", "recipient_address": {"town":
        "", "city": "Vit\u00f3ria da Conquista", "name": "Cliente",
        "district": "", "country": "BR", "zipcode": "00000000", "full_address": "Full address",
        "phone": "554111111111", "state": "Bahia"}, "cancel_by": "", "escrow_amount":
        "31.90", "buyer_cancel_reason": "", "goods_to_declare": false, "lm_tn": "",
        "total_amount": "31.90", "service_code": "", "country": "BR", "actual_shipping_cost":
        "", "cod": false, "items": [{"weight": 0.5, "item_name": "Produto", "is_wholesale": false, "promotion_type":
        "", "item_sku": "", "variation_discounted_price": "31.90", "variation_id":
        0, "variation_name": "", "is_set_item": false, "is_add_on_deal": false, "item_id":
        6854048982, "promotion_id": 0, "add_on_deal_id": 0, "variation_quantity_purchased":
        1, "variation_sku": "", "variation_original_price": "31.90", "is_main_item":
        false}], "ordersn": "123", "dropshipper": "", "is_actual_shipping_fee_confirmed":
        false, "buyer_username": "username"}], "request_id": "5885985c71b3af7d1b6d0231992066be"}'
  recorded_at: Sun, 17 Jan 2021 01:07:04 GMT
recorded_with: VCR 5.1.0
