---
http_interactions:
- request:
    method: post
    uri: https://partner.shopeemobile.com/api/v1/orders/detail
    body:
      encoding: UTF-8
      string: '{"ordersn_list":["1234"],"shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1611230805}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e6989b230291ceb91c69347f3695b8bfc2c0940b44290e41811439aa35c879a4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - request_id
      Req-Id:
      - request_id
    body:
      encoding: ASCII-8BIT
      string: '{"errors": [], "orders": [{"estimated_shipping_fee": "14.33", "order_flag":
        "fulfilled_by_local_seller", "payment_method": "Ebanx Boleto", "dropshipper_phone":
        "", "message_to_seller": "", "shipping_carrier": "Padr\u00e3o", "currency":
        "BRL", "create_time": 1611181630, "pay_time": 1611223547, "days_to_ship":
        3, "credit_card_number": "", "note": "", "is_split_up": false, "ship_by_date":
        1611655547, "escrow_tax": "0.00", "tracking_no": "", "order_status": "READY_TO_SHIP",
        "note_update_time": 0, "fm_tn": "", "update_time": 1611223547, "buyer_cpf_id":
        "CPF", "cancel_reason": "", "recipient_address": {"town": "", "city":
        "City", "name": "Customer Name", "district":
        "", "country": "BR", "zipcode": "00000000", "full_address": "Full Address", "phone": "55", "state":
        "S\u00e3o Paulo"}, "cancel_by": "", "escrow_amount": "127.60", "buyer_cancel_reason":
        "", "goods_to_declare": false, "lm_tn": "", "total_amount": "127.60", "service_code":
        "", "country": "BR", "actual_shipping_cost": "", "cod": false, "items": [{"weight":
        0.5, "item_name": "Item", "is_wholesale": false, "promotion_type": "",
        "item_sku": "", "variation_discounted_price": "31.90", "variation_id": 0,
        "variation_name": "", "is_set_item": false, "is_add_on_deal": false, "item_id":
        1, "promotion_id": 0, "add_on_deal_id": 0, "variation_quantity_purchased":
        2, "variation_sku": "", "variation_original_price": "31.90", "is_main_item":
        false}, {"weight": 0.6, "item_name": "Item Name", "is_wholesale": false, "promotion_type": "", "item_sku":
        "", "variation_discounted_price": "31.90", "variation_id": 0, "variation_name":
        "", "is_set_item": false, "is_add_on_deal": false, "item_id": 1,
        "promotion_id": 0, "add_on_deal_id": 0, "variation_quantity_purchased": 2,
        "variation_sku": "", "variation_original_price": "31.90", "is_main_item":
        false}], "ordersn": "1234", "dropshipper": "", "is_actual_shipping_fee_confirmed":
        false, "buyer_username": "customer_user"}], "request_id": "request_id"}'
  recorded_at: Thu, 21 Jan 2021 12:06:46 GMT
recorded_with: VCR 5.1.0
