---
http_interactions:
- request:
    method: post
    uri: https://partner.uat.shopeemobile.com/api/v2/auth/access_token/get?partner_id=<PARTNER_ID>&shop_id=<SHOPID>&sign=287b211275ecd9f60337b986bc9ef6c13c78adefbeb680132701b6934ea2f3ab&timestamp=1607646523
    body:
      encoding: UTF-8
      string: '{"shop_id":<SHOPID>,"refresh_token":"<AUTH_REFRESH_TOKEN>","partner_id":<PARTNER_ID>}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - 0c59d22ae9e1941d351529d319b9a233
      Req-Id:
      - 0c59d22ae9e1941d351529d319b9a233
    body:
      encoding: ASCII-8BIT
      string: '{"shop_id":<SHOPID>,"error":"","access_token":"a21ca76bd6d478537f568fe9324e5674","expire_in":14400,"message":"","request_id":"0c59d22ae9e1941d351529d319b9a233","partner_id":<PARTNER_ID>,"refresh_token":"f5a6940587b5507672571001119b8e5d"}'
  recorded_at: Fri, 11 Dec 2020 00:28:47 GMT
recorded_with: VCR 5.1.0
