---
http_interactions:
- request:
    method: get
    uri: https://partner.test-stable.shopeemobile.com/api/v2/product/get_item_list?access_token=<AUTH_ACCESS_TOKEN>&item_status=NORMAL&offset=0&page_size=100&partner_id=<PARTNER_ID>&shop_id=<SHOPID>&sign=509898eb9d112a63062b6b3923fd52c12e51ae0a66daf2f5703ab4aa4f9ce803&timestamp=1662834721
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - 4a35ed00a7ace0b937e4a1c135fb81b2
      X-Gw-Api:
      - '28245'
    body:
      encoding: UTF-8
      string: '{"error":"","message":"","warning":"","request_id":"4a35ed00a7ace0b937e4a1c135fb81b2","response":{"total_count":0,"has_next_page":false}}'
  recorded_at: Sat, 10 Sep 2022 18:32:02 GMT
recorded_with: VCR 5.1.0
