---
http_interactions:
- request:
    method: post
    uri: https://partner.shopeemobile.com/api/v1/logistics/init_info/get
    body:
      encoding: UTF-8
      string: '{"ordersn":"1234","shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1611233066}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bf679a17ce37e7ed9c7cfac04fbc620d18dac6132a3c5d249fb684685463c3c1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - request_id
      Req-Id:
      - request_id
    body:
      encoding: ASCII-8BIT
      string: '{"dropoff": {}, "pickup": {}, "info_needed": {"dropoff": []}, "request_id":
        "request_id"}'
  recorded_at: Thu, 21 Jan 2021 12:44:27 GMT
recorded_with: VCR 5.1.0
