---
http_interactions:
- request:
    method: post
    uri: https://partner.shopeemobile.com/api/v1/logistics/init_parameter/get
    body:
      encoding: UTF-8
      string: '{"ordersn":"invalid","shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1611109487}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ea6b4b49b4015f7466e9fd036054cf44b08434345730d1576fec99d6e4d208e7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - request_id
      Req-Id:
      - request_id
    body:
      encoding: ASCII-8BIT
      string: '{"msg": "The info you quried doesn''t exsit in database", "request_id":
        "request_id", "error": "error_not_exists"}'
  recorded_at: Wed, 20 Jan 2021 02:24:48 GMT
recorded_with: VCR 5.1.0
