---
http_interactions:
- request:
    method: post
    uri: https://partner.shopeemobile.com/api/v1/logistics/init_parameter/get
    body:
      encoding: UTF-8
      string: '{"ordersn":"123","shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1611230884}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 85058310d11f2f947c3727116e4bcd795dca420065eb1f74edbc577f02f797cf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - request_id
      Req-Id:
      - request_id
    body:
      encoding: ASCII-8BIT
      string: '{"dropoff": [], "request_id": "request_id"}'
  recorded_at: Thu, 21 Jan 2021 12:08:05 GMT
recorded_with: VCR 5.1.0
