---
http_interactions:
- request:
    method: post
    uri: https://partner.shopeemobile.com/api/v1/logistics/init
    body:
      encoding: UTF-8
      string: '{"ordersn":"123","dropoff":{},"shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1611435036}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 91ef46aa28a8438fcf0897a46c64981b24fb6e859ecb814c2bc89cbe620ec8e6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - request_id
      Req-Id:
      - request_id
    body:
      encoding: ASCII-8BIT
      string: '{"msg": "The info you quried doesn''t exsit in database", "request_id":
        "request_id", "error": "error_not_exists"}'
  recorded_at: Sat, 23 Jan 2021 20:50:41 GMT
recorded_with: VCR 5.1.0
