---
http_interactions:
- request:
    method: post
    uri: https://partner.shopeemobile.com/api/v1/logistics/init
    body:
      encoding: UTF-8
      string: '{"ordersn":"123","shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1611146608}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 6a6ba5a906e156f66502ebbf801a288f85f0db71075baddcf86416d9be2237b5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - request_id
      Req-Id:
      - request_id
    body:
      encoding: ASCII-8BIT
      string: '{"msg": "Should contains (pickup,dropoff or non_integrated).Not all.",
        "request_id": "request_id", "error": "error_params"}'
  recorded_at: Wed, 20 Jan 2021 12:43:28 GMT
recorded_with: VCR 5.1.0
