---
http_interactions:
- request:
    method: post
    uri: https://partner.shopeemobile.com/api/v1/logistics/init
    body:
      encoding: UTF-8
      string: '{"ordersn":"1234","dropoff":{},"info_needed":[{"dropoff":["tracking_no"]}],"shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1611231838}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 8ecbc43b110214df3fb80b9851b07446f861e1c03abefc72f8e7b22edbc8abed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - request_id
      Req-Id:
      - request_id
    body:
      encoding: ASCII-8BIT
      string: '{"tracking_number": "1234", "request_id": "request_id"}'
  recorded_at: Thu, 21 Jan 2021 12:23:59 GMT
recorded_with: VCR 5.1.0
