---
http_interactions:
- request:
    method: post
    uri: https://partner.uat.shopeemobile.com/api/v1/items/get
    body:
      encoding: UTF-8
      string: '{"pagination_offset":0,"pagination_entries_per_page":100,"shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1609377179}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 85e9d00c1285721509f4296c341a9629e409d1c700ec4d4a027d8a9719cdb16a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - 1910f89400124563ab310cabeceef404
      Req-Id:
      - 1910f89400124563ab310cabeceef404
    body:
      encoding: UTF-8
      string: '{"items":[],"request_id":"1910f89400124563ab310cabeceef404","more":false,"total":0}'
  recorded_at: Thu, 31 Dec 2020 01:13:01 GMT
recorded_with: VCR 5.1.0
