---
http_interactions:
- request:
    method: post
    uri: https://partner.test-stable.shopeemobile.com/api/v1/items/get
    body:
      encoding: UTF-8
      string: '{"pagination_offset":0,"pagination_entries_per_page":100,"shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1639530016}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 6d8e27e91876abe44e25b501a529d3188c6960f63d6fe1c21b090a7958fec58e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - 82dfef7c879ada485cf3141cf3fb9b3a
      Req-Id:
      - 82dfef7c879ada485cf3141cf3fb9b3a
    body:
      encoding: UTF-8
      string: '{"items":[],"request_id":"82dfef7c879ada485cf3141cf3fb9b3a","more":false,"total":0}'
  recorded_at: Wed, 15 Dec 2021 01:00:23 GMT
recorded_with: VCR 5.1.0
