---
http_interactions:
- request:
    method: post
    uri: https://partner.uat.shopeemobile.com/api/v2/auth/token/get?partner_id=<PARTNER_ID>&shop_id=<SHOPID>&sign=3309340972b93383e0f76fb5491b6241c484c55c7df581a5fec655099f9b34ed&timestamp=1607646330
    body:
      encoding: UTF-8
      string: '{"code":"<AUTH_CODE>","shop_id":<SHOPID>,"partner_id":<PARTNER_ID>}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - 26a23f3d03f8122d3ed5407853489156
      Req-Id:
      - 26a23f3d03f8122d3ed5407853489156
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"34f435a827e04d1bb328df57f774e692","error":"","request_id":"26a23f3d03f8122d3ed5407853489156","message":"","expire_in":14381,"refresh_token":"d47866d390713b4b0a26286d9ce064e2"}'
  recorded_at: Fri, 11 Dec 2020 00:25:33 GMT
recorded_with: VCR 5.1.0
