---
http_interactions:
- request:
    method: get
    uri: https://partner.test-stable.shopeemobile.com/api/v2/order/get_order_detail?access_token=<AUTH_ACCESS_TOKEN>&order_sn_list=123&partner_id=<PARTNER_ID>&shop_id=<SHOPID>&sign=a0a8be6e81d94f560f61a4d26da0467af51ec31999cefee614c5af55f3bae842&timestamp=1663007538
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - becf490883e7a43da92a4ec2d0d7d141
      X-Gw-Api:
      - '28329'
    body:
      encoding: UTF-8
      string: '{"error":"error_not_found","message":"Wrong parameters, detail: the
        order is not found.","request_id":"becf490883e7a43da92a4ec2d0d7d141"}'
  recorded_at: Mon, 12 Sep 2022 18:32:20 GMT
recorded_with: VCR 5.1.0
