---
http_interactions:
- request:
    method: post
    uri: https://partner.shopeemobile.com/api/v1/logistics/branch/get
    body:
      encoding: UTF-8
      string: '{"ordersn":"1234","shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1611152909}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - acec93d40cb225eacf95bb36fa26031452565763435f677e8076244f57a3e55e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - request_id
      Req-Id:
      - request_id
    body:
      encoding: ASCII-8BIT
      string: '{"msg": "This order not support dropoff branch", "request_id": "request_id",
        "error": "error_not_support"}'
  recorded_at: Wed, 20 Jan 2021 14:28:30 GMT
recorded_with: VCR 5.1.0
