---
http_interactions:
- request:
    method: post
    uri: https://partner.shopeemobile.com/api/v1/logistics/branch/get
    body:
      encoding: UTF-8
      string: '{"ordersn":"123","shopid":<SHOPID>,"partner_id":<PARTNER_ID>,"timestamp":1611231179}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 36b37661c61d9f012288f01d48e6cde1915dc223844b0581c671e746c552636d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - request_id
      Req-Id:
      - request_id
    body:
      encoding: ASCII-8BIT
      string: '{"msg": "This order not support dropoff branch", "request_id": "request_id",
        "error": "error_not_support"}'
  recorded_at: Thu, 21 Jan 2021 12:12:59 GMT
recorded_with: VCR 5.1.0
