---
http_interactions:
- request:
    method: get
    uri: https://partner.test-stable.shopeemobile.com/api/v2/order/get_order_list?access_token=<AUTH_ACCESS_TOKEN>&page_size=100&partner_id=<PARTNER_ID>&shop_id=<SHOPID>&sign=8732403f0064dc5229c437415a749cfe6ac5d5c43dbe72c7dd18efa11cdbfdbe&time_from=1662841396&time_range_field=create_time&time_to=1662841410&timestamp=1662841410
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sgwreq-Id:
      - 37f26db2171fdd65b1443eb20ff92d0a
      X-Gw-Api:
      - '28330'
    body:
      encoding: UTF-8
      string: '{"error":"","message":"","response":{"more":false,"next_cursor":"","order_list":[]},"request_id":"37f26db2171fdd65b1443eb20ff92d0a"}'
  recorded_at: Sat, 10 Sep 2022 20:23:31 GMT
recorded_with: VCR 5.1.0
